body {
  background-color: hsl(212, 45%, 89%);
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.card {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 320px;
  height: 550px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
}

.pic {
  border-radius: 20px;
  margin-top: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.p {
  font-family: "Outfit", sans-serif;
}
.h1 {
  font-family: "Outfit", sans-serif;
}
